// color varibles

$Orange: hsl(13, 96%, 64%);
$White: hsl(0, 0%, 100%);
$Gray: hsl(0, 0%, 40%);
$lightBlue: hsl(217, 100%, 50%);
$lightGray: hsl(0, 0%, 67%);
$darkGray:hsl(0, 0%, 53%);
$balck: hsl(0, 0%, 0%);
$broderGray: hsl(0, 0%, 80%);

// Font weiht
  // 400 , 500 , 700 
$Regular:400;
$medium: 500;
$bold: 700;